<!DOCTYPE html>
<html>
<head>
    <title>One Owner</title>
</head>
<body>
    <h1>One Owner</h1>
    <table>
        <tr>
            <th>Owner ID</th>
            <th>First Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
        <tr>
            <td>{{ owner.id }}</td>
            <td>{{ owner.name }}</td>
            <td>{{ owner.email }}</td>
            <td>{{ owner.age }}</td>
            <td>{{ owner.created_at }}</td>
            <td>{{ owner.updated_at }}</td>
        </tr>
    </table>
</body>
</html>
